body{
    background: #F2F2F2;
    font-family: 'Kumbh Sans';
    width: 100%;
    align-content: center;
    margin: 0 auto 0 auto;
}

#header-image{
    width: 100%;
}

#search-bar{
    width: 1110px;
    height: 80px;
    background: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    position: relative;
    top: -75px;
}

/* header img{ */
    /* width: 80%;
    height: 162px; */
/* } */

.search-box{
    align-items: center;
    display: flex;
    flex-direction: row;
}

#check-box{
    width: 24px;
    height: 24px;
    background: #19202D;
    mix-blend-mode: normal;
    opacity: 0.1;
    border-radius: 3px;
    margin-right: 26px;
    z-index: 3;
}
#check-mark{
    position: absolute;
    margin-left: 5px;
    z-index: 2;
    /* opacity: 0; */
}
.search-logo{
    width: auto;
    height: 24px;
    padding-right: 16px;
}

input{
    font-size: 16px;
    font-family: 'Kumbh Sans';
    width: 300px;
    height: auto;
    color: #19202D;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-color: transparent;
}

.check-rectangle{
    width: 48px;
    height: 24px;
    background: #FFFFFF;
    border-radius: 12px;
}

.check-dot{
    position: absolute;
    top: 12px;
    margin-left: 5px;
    width: 14px;
    height: 14px;
    background: #5964E0;
    border-radius: 50%;
}

.border{
    width: 1px;
    height: 80px;
    background: #6E8098;
    mix-blend-mode: normal;
    opacity: 0.2;
}

#search-button{
    width: 123px;
    height: 48px;
    text-align: center;
    align-self: center;
    margin-left: 26px;
    color: white;
    background: #5964E0;
    border-radius: 5px;
    border-color: transparent;
}
#search-button:hover, .check-dot:hover, #check-box:hover, #load-more:hover{
    background: #939BF4;
}

#top h4{
    margin: 0;
    font-size: 32px;
    font-weight: 900;
    color: #FFFFFF;
}

#display-mode{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 112px;
} 

#top{
    display: flex;
    flex-direction: row;
    position: relative;
    top: -115px;
    margin: auto;
    z-index: 3;
    justify-content: space-between;
    width: 1110px;
}

#content{
    width: 1110px;
    height: 1132px;
    display: flex;
    flex-wrap: wrap;
    gap: 65px 30px;
    margin: auto;
    align-items: center;
    overflow-y: hidden;
}

.container{
    height: 228px;
    width: 350px;
    /* width: 286px;
    height: 147px; */
    border-radius: 6px;
    background: #FFFFFF;
    /* padding: 49px 32px 32px 32px; */
}

.postedAt, .contract, .company{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #6E8098;
    margin: 0 0 0 32px;
    /* width: 88px; */
}

.contract{
    margin: 0;
}

.position, a{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #19202D;
    margin: 12px 0 17px 32px;
    text-decoration: none;
}
.position:hover{
    color: #6E8098;
}

.location{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #5964E0;
    margin: 44px 32px 33px 32px;
}

#content img{
    margin-top: calc(35%);
}

.logoDiv{
    position: relative;
    top: -25px; 
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 0 0 0 32px;
    text-align: center;
    vertical-align: middle;
}

.dot{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    color: black;
    margin: 0;
}

.topDetails{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 20px;
    justify-content: space-between;
}

#load-more{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #5964E0;
    border-radius: 5px;
    height: 48px;
    width: 141px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 56px auto 106px auto;
}